/* Colors */
/* Sage Green: rgb(154, 188, 164) */
/* Charcoal: #272827 */
/* Lavender: #a8a4b1 */

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  margin: 0;
  min-height: 100vh;
}

.homepage {
  background-color: rgb(154, 188, 164);
  height: 100vh;
}

* {
  font-family: "Nunito";
  box-sizing: border-box;
  /* match the charcoal color of the text in logo */
  color: #272827;
}

.sageGreen {
  color: rgb(154, 188, 164);
}

.fancyFadeIn {
  height: 100%;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  /* delay to control when it starts */
  animation-delay: 0.2s;
  visibility: hidden;
}

/* called by .fancyFadeIn */
@keyframes fadeIn {
  to {
    opacity: 1;
    visibility: visible;
  }
}

#homepageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  /* negative margin accounts for whitespace at the top of the image */
  margin-top: -100px;
}

nav {
  text-align: center;
  font-size: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav a,
#resumeButton a {
  font-family: "itc-american-typewriter";
  font-weight: 500;
}

h2 {
  font-size: 30px;
  text-align: center;
}

nav a {
  text-decoration-line: none;
  margin: 10px;
  display: inline-block;
}

nav a:hover,
a.active {
  text-decoration-line: underline;
  text-decoration-thickness: 6px;
}

nav .logo {
  margin-top: 0;
}

.innerNav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: rgb(154, 188, 164);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
  background-color: rgba(255, 255, 255, 0.8);
  /* top right bottom left */
  padding: 20px 10px 50px 10px;
  border-radius: 5px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.gallery.published .content {
  height: 500px;
}

.gallery.published .content a h3 {
  text-decoration: none;
  /* top right bottom left */
  margin: 10px 10px 0 10px;
}

.content {
  /* we are using static values for width/height to keep these uniform (if you put too much content inside, it will overflow) */
  width: 300px;
  height: 300px;
  border: dashed 3px #9abca4;
  text-align: center;
  transition: 0.2s linear;
  padding: 5px;
}

.content:hover {
  border: dashed 3px #272827;
}

.content a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-decoration: none;
}

.content a h3 {
  font-size: 22px;
  text-decoration-line: underline;
  text-decoration-thickness: 6px;
  text-decoration-color: #a8a4b1;
}

.content img {
  margin: 0 auto;
  border-radius: 5px;
}

section iframe {
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  height: 315px;
  border-radius: 5px;
}

p {
  max-width: 600px;
}

.tagline {
  text-align: center;
  font-size: 20px;
}

.cards div {
  margin: 20px;
  background: #a8a4b1;
  padding: 30px;
  max-width: 400px;
  border-radius: 5px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.cards img {
  /* with max-width, we are saying that ideally we want 320px unless the container is less than 320px */
  width: 320px;
  max-width: 100%;
  height: 320px;
  object-fit: cover;
  margin: auto;
  display: block;
  border-radius: 5px;
}

.floralWallpaper {
  background-image: url(whitewallpaper.webp);
  padding: 3%;
}

/* tone down font sizes a bit */
@media (max-width: 750px) {
  h2 {
    font-size: 24px;
  }
  .content a h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
}

@media (max-width: 610px) {
  /* get rid of the decorative diamonds */
  .diamond {
    display: none;
  }
  /* reduce padding and margins to give space for content */
  section {
    margin: 0;
  }
  .floralWallpaper {
    padding: 0;
  }
  .homepage {
    padding: 5px;
  }
}

/* drop the homepage links onto their own lines */
@media (max-width: 490px) {
  nav a {
    display: block;
  }
}

/* the homepage was nasty on landscape */
@media (orientation: landscape) {
  #homepageContent .logo {
    margin-top: -20px;
  }
  #homepageContent .logo img {
    width: 200px;
    height: 200px;
  }
}
